.navbar-brand{
	font-family:TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;;
	/*font-size:4.5em;*/
	font-size: 4.6vmax;
	color:white;
}
.navbar{
	background-color:purple;
	color:white;
}
.tagline
{
	font-family:TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;;
	text-align: center;
	font-style: italic;
	
	
}
.our-title{
	padding-bottom: 0px;
	margin-bottom: 0px;
	line-height: 1em;
	
}
.our-title:hover{
	color: white;
	
}

.navbar-dark .navbar-nav .nav-link
{
	font-family:TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;;
	color: rgba(255, 255, 255, 0.900);
}
.nav-link:hover
{
	font-family:TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;;
	color: darkturquoise;
}
.navbar-dark .navbar-toggler
{
	color: rgba(255, 255, 255, 0.900);
	border-color:rgba(255, 255, 255, 0.900);
}
footer
{
	font-family:TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
	background-color:purple; 
	color:white;
	height: 20vh;
	padding: 30px;
	vertical-align: middle;
}
table
{
	text-align: center;	
	margin-top: 50px;
	
	
}
.dances
{
	/*padding-left: 40%;*/
	text-align: center;
	list-style-type: none;
	
}
.dan
{
	text-align: center;
}
.photo
{
	display: block;
    margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
}
.logo-image
{
	vertical-align: bottom;
	height: 1em;
	border-color: white;
	margin-right: 10px;
}
.center
{
	margin: auto;
}
body
{
	font-family:TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
	
}
h2, h3
{
	color: purple;
}
.jumbotron
{
	background-color: rgba(128, 0, 128, 0.123);
}
iframe
{
	max-width: 100%;
}
.blockquote
{
	text-align: center;
	font-style: italic;
	color: purple;
	max-width: 100%;
	width: 370px;
	padding-top: 10px;
	padding-bottom: 25px;
}
.blockquote-footer
{
	text-align: right;
}

.quotes
{
	margin: 0px;
	line-height: 0.6;
	padding-right: 10px;
	padding-left: 10px;
}
